@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text movable" onmouseover="newColor()" onmouseout="oldColor()">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Embedded Youtube Video -->
    <iframe width="420" height="315"
            src="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    </iframe>
</div>
